<div class="top">
  <div class="top-main">
    <div class="container">
      <div class="row col-lg-6">
        <div class="form-fream">
          <div class="form-area">
            <p class="form-area-title mb-4">Potepan Shareでまだ体験したことない旅をしよう</p>
            <%= form_tag({controller: :stays, action: :search}, :method =>'get') do %>
            <%= text_field_tag :address, params[:address], class: "form-control mb-4", id: "search_area", placeholder:"東京" %> 
            <%= submit_tag '検索' , class:"form-control btn-primary mb-4"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="panel-area m-5">
      <h1 class="section-title">おすすめのエリア</h1>
        <div class="row">
          <div class="panel-item col-lg-lg-3 col-6">
            <span>東京</span>
            <%= link_to image_tag("https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg",class: "panel-image"),search_stays_path(address:"東京") %>
            <div class="shadow"></div>
          </div>

          <div class="panel-item col-lg-lg-3 col-6">
            <span>大阪</span>
            <%= link_to image_tag("https://presite-potepancamp-rails-02.herokuapp.com/assets/img_osaka.jpg",class: "panel-image"),search_stays_path(address:"大阪") %>
            <div class="shadow"></div>
          </div>

          <div class="panel-item col-lg-lg-3 col-6">
            <span>京都</span>
            <%= link_to image_tag("https://presite-potepancamp-rails-02.herokuapp.com/assets/img_kyoto.jpg",class: "panel-image"),search_stays_path(address:"京都") %>
            <div class="shadow"></div>
          </div>

          <div class="panel-item col-lg-lg-3 col-6">
            <span>札幌</span>
            <%= link_to image_tag("https://presite-potepancamp-rails-02.herokuapp.com/assets/img_sapporo.jpg",class: "panel-image"),search_stays_path(address:"札幌") %>
            <div class="shadow"></div>
          </div>
        </div>
    </div>
  </div>
</div>
